.menu-menu-footer-1-container,
.menu-menu-footer-2-container,
.menu-menu-footer-3-container,
.menu-menu-footer-4-container {
  ul {
    li {
      padding-bottom: 10px;
      a {
        color: $gray-600;
        font-size: 14px;
        position: relative;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
.footer_contact {
  .widget-content {
    padding-right: 100px;
  }
}
footer {
  font-size: 14px;
  .wp-block-cover {
    min-height: 350px;
  }
}
.button-footer-top {
  .wp-block-button__link {
    padding: 10px 20px;
    font-size: 14px;
    transition: color 0.3s ease;
    border: 1px solid $white;
    transition: border 0.3s ease, color 0.5s ease;
    &:hover {
      color: $red;
      border: 1px solid $red;
    }
  }
}
@include media-breakpoint-up(lg) {
  .foot_logo {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@include media-breakpoint-down(lg) {
  .foot_logo {
    img {
      width: 150px;
      height: auto;
      object-fit: cover;
    }
  }
}
