.accordion-button {
  box-shadow: none !important;
  &::after {
    content: "";
    background-image: url("/src/images/minus.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    transition: all 0.3s ease-out;
  }

  &.collapsed {
    &::after {
      background-image: url("/src/images/plus.png") !important;
    }
  }
}
.tab-button.active,
.tab-button:hover {
  color: $red;
}

.tab-content {
  padding: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}
.title-tab {
  br {
    &:nth-of-type(2) {
      display: none;
    }
  }
}
