@include media-breakpoint-down(lg) {
  .slick-banner {
    .slick-dots {
      top: 80% !important;
      li {
        font-size: 18px !important;
        &.slick-active {
          &::before {
            left: -30px !important;
            width: 40px !important;
          }
        }
      }
    }
  }
  .slick-dots {
    li {
      button {
        &:before {
          font-size: 12px !important;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: $red !important;
          }
        }
      }
    }
  }
  .banner-social {
    &.start-60px {
      left: 0 !important;
    }
  }
  .partners {
    .slick-dots {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 1920px) and (max-height: 780px) {
  .banner-slide {
    .content { 
      h1 {
        font-size: 55px !important;
      }
    }
  }
}


.homepage.container {
  aspect-ratio: 16 / 9;
}
/* General Slick Slider Styles */
.slick-banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.banner-slide {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100% !important;
  position: relative;
  display: block !important;
  .content {
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    max-width: 600px;
    z-index: 3;
    opacity: 0;
    transition: opacity 1s ease-out;

    h1,
    h3,
    p {
      opacity: 0;
      transform: translateX(50%);
      transition: transform 1s ease-out, opacity 1s ease-out;
      color: white;
    }

    h1 {
      font-size: 78px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      transition-delay: 0.3s;
    }

    h3 {
      font-size: clamp(15px, 3vw, 32px);
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.7;
      margin: 0;
      letter-spacing: 1px;
      padding-bottom: 10px;
      display: inline-block;
      transition-delay: 0.3s;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      transition-delay: 0.4s;
    }
  }
}
.slick-active {
  .content {
    opacity: 1;
    h1 {
      opacity: 1;
      transform: translateX(0);
    }

    h3 {
      opacity: 1;
      transform: translateX(0);
    }

    p {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.slick-banner {
  .slick-dots {
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 5%;
    bottom: unset;
    width: auto;
    transform: translateY(-50%);
    display: flex !important;
    flex-direction: column;
    li {
      margin: 13px 10px;
      font-size: 24px;
      position: relative;
      color: white;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: -50%;
        transform: translateX(-35%);
        transition: all 0.3s ease-out;
        width: 0;
        height: 1px;
        background-color: white;
      }
      &.slick-active {
        color: white;
        font-weight: bold;
        position: relative;
        &::before {
          width: 120px;
        }
      }
    }
  }
  .slick-slide {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .slick-active {
    opacity: 1 !important;
    transition: opacity 1s ease-in;
  }

  .slick-cloned {
    opacity: 0.3;
  }
}
.building-a-legacy-one-project-at-a-time {
  .project-slider {
    .slick-prev,
    .slick-next {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      border: 2px solid white;
      font-size: 24px;
      line-height: 0;
      width: 40px;
      height: 40px;
      cursor: pointer;
      z-index: 100;
      transition: background-color 0.3s ease;
      border-radius: 50%;
    }
    .slick-prev:hover,
    .slick-next:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .slick-prev:before,
    .slick-next:before {
      content: "";
    }
    .slick-prev:after {
      content: "\2039";
      color: white;
      font-size: 32px;
    }

    .slick-next:after {
      content: "\203A";
      color: white;
      font-size: 32px;
    }
  }
}
.last-new {
  .news-slider {
    .slick-next,
    .slick-prev {
      top: 40%;
      width: 40px;
      img {
        opacity: 0.3;
      }
    }
    .slick-prev:before,
    .slick-next:before {
      display: none;
    }
  }
}
.blog {
  .blog-slider {
    .slick-next,
    .slick-prev {
      top: 40%;
      width: 40px;
      img {
        opacity: 0.3;
      }
    }
    .slick-prev,
    .slick-next {
      &:before {
      display: none;
      }
    }
  }
}
.list-partners {
  .slick-prev,
  .slick-next {
    &:before {
      display: none;
    }
  }
}