.news-featured-slider {
  .slick-prev,
  .slick-next {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 24px;
    line-height: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;
    transition: background-color 0.3s ease;
    border-radius: 50%;
  }
  .slick-prev:before,
  .slick-next:before {
    content: "";
  }
  .slick-prev:after {
    content: "\2039";
    color: white;
    font-size: 32px;
  }

  .slick-next:after {
    content: "\203A";
    color: white;
    font-size: 32px;
  }
  .overlay {
    background-color: rgb(206 199 199 / 50%);
    right: 0;
    left: auto;
    z-index: 1;
  }
}
.blog-categories {
  position: relative;
  #category-menu {
    scrollbar-color: $red transparent;
    scrollbar-width: thin;
    li {
      padding: 3px 10px;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover,
      &.active {
        color: $red;
        border: 1px solid $red;
        border-radius: 8px;
        transition: 0.3s;
      }
    }
  }
}

.menu-placeholder {
  height: 0;
}
