// Bootstrap
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/_transitions";

//Layout
@import "../scss/layouts/header";
@import "../scss/layouts/footer";

// Fonts
@import "../fonts/fontface";
//Slick
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-top: 0 !important;
}

body {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  font-size: 18px;
  color: $body-color;
  line-height: 1.5;
}

img {
  @include img-fluid;
}
p {
  margin-bottom: 1em;
}
a {
  text-decoration: none;
  color: $body-color;
  &:hover,
  &:focus {
    color: $red;
  }
}

.ls-1 {
  letter-spacing: 1px;
}

figcaption {
  text-align: center;
}

blockquote,
em {
  font-family: $font-family-sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: $font-family-sans-serif;
  color: $body-color;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  a {
    color: $body-color;
    &:hover {
      color: black;
    }
  }
}
.font-header {
  font-family: $font-family-sans-serif-Bold;
}

video {
  &:focus {
    outline: none;
  }
}

.st-pagelink {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  span,
  a {
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    margin: 0 0 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family-sans-serif;
  }
  span {
    background: $primary;
    color: $white;
  }
  a {
    color: $body-color;
    background: transparent;
    &.page-numbers {
      &.next,
      &.prev {
        &:hover {
          background: transparent;
        }
      }
    }
    &:hover {
      background: $primary;
      color: $white;
    }
  }
  img {
    width: 20px;
  }
}
.background-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
.btn-primary {
  color: $white;
  border: 1px solid $primary;
  display: inline-block;
  text-align: center;
  padding: 8px 10px 6px;
  border-radius: 0;
  transition: 0.3s;
  background-color: $primary;
  font-size: 18px;
  font-family: $font-family-sans-serif-Bold;
  &:hover,
  &:active {
    background-color: $black;
    color: $white;
    text-decoration: none;
    border: 1px solid $white;
    box-shadow: none;
  }
  a {
    color: $white;
  }
  &:hover,
  &:active {
    a {
      color: $white;
    }
  }
}

.btn-secondary {
  color: $white;
  border: 1px solid $white;
  display: inline-block;
  text-align: center;
  padding: 8px 15px 6px;
  border-radius: 0;
  transition: 0.3s;
  background-color: $black;
  font-size: 18px;
  font-family: $font-family-sans-serif-Bold;
  &:hover,
  &:active {
    background-color: $primary;
    color: $white;
    text-decoration: none;
    border: 1px solid $primary;
    box-shadow: none;
  }
  a {
    color: $white;
  }
  &:hover,
  &:active {
    a {
      color: $white;
    }
  }
}

input {
  &:focus {
    outline: none;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  font-size: 15px;
  height: 45px;
  padding: 0 15px 0 15px;
  color: $white;
  background-color: transparent;
  border: 1px solid #000;
  appearance: none;
  border-radius: none;
  box-shadow: none;
  &:focus {
    outline: none;
  }
}

textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #000;
  height: 95px;
  padding: 10px 15px;
  font-size: 15px;
  color: $body-color;
  resize: none;
  &:focus {
    outline: none;
  }
}

input[type="radio"] {
  & + span:before {
    border-radius: 50%;
  }
  &:checked + span:after {
    top: 10px;
  }
}

select {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--bs-primary);
  background: var(--bs-white);
  color: var(--bs-body-color);
  padding: 0 15px 0 10px;
  margin-right: 0 !important;
  appearance: none;
  border-radius: none;
  &:focus-visible {
    outline: none;
  }
}

.container {
  padding: 0 15px;
}

.scroll_style {
  overflow-x: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: $white;
  }
  ::-webkit-scrollbar {
    width: 7px;
    // height: 10px;
    background-color: $gray-100;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: $gray-200;
    box-shadow: inset 0 0 6px transparent;
  }
}

.mx-70 {
  max-width: 70%;
}
.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.featured-image {
  img {
    border-radius: 10px;
  }
}
.title-about-the-author {
  a {
    letter-spacing: 0.2em;
  }
}
.breadcrumbs {
  a {
    color: $body-color;
    font-weight: 400;
    &:hover {
      color: $red;
    }
  }
  span {
    font-weight: 400;
  }
}
.main_logo {
  img {
    width: 120px;
    height: 100px;
    object-fit: contain;
  }
}
.wp-block-image {
  margin: 30px 0;
}
.wp-block-comments {
  .wp-block-comments-title {
    margin-bottom: 50px !important;
  }
  .wp-block-comment-content {
    margin: 20px 0 !important;
    border: 1px solid #ddd;
    padding: 50px;
  }
  .comment.depth-2 {
    margin-left: 50px !important;
  }
}
.comment-form {
  .form-submit {
    input[type="submit"] {
      background-color: $primary;
      color: $white;
      border: 0;
      padding: 10px 30px;
      border-radius: 10px;
    }
  }
  textarea {
    border: 1px solid #ddd;
    height: 120px;
    padding: 10px 15px;
    font-size: 15px;
    color: black;
    resize: none;
  }
}
table {
  thead {
    border-bottom: 0 !important;
    tr {
      th {
        background-color: $light;
        border: 0 !important;
        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
  tbody {
    border: 0;
    tr {
      border-bottom: 1px solid $light;
      td {
        border: 0 !important;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
.wp-block-button__link {
  a {
    font-size: 20px;
  }
}
.did-you-know {
  img {
    width: 1530px;
  }
}
.page404 {
  padding: 230px 0 !important;
  .container {
    max-width: 950px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}
.modal-open {
  padding-right: 0 !important;
}
.bg-rgba-6 {
  background: rgba(0, 0, 0, 0.6) !important;
}
.bg-rgba-3 {
  background: rgba(0, 0, 0, 0.3) !important;
}
.bg-rgba-1{
  background: rgba(0, 0, 0, 0.1) !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 22%);
  z-index: 1;
}
.square {
  width: 100%;
  height: 300px;
  background-color: $red;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 300px;
    background-color: rgba(231, 76, 60, 0.7);
  }
  &.post-image {
    width: 100%;
    height: 300px;
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: -15px;
      width: 100%;
      height: 300px;
    }
  }
  &.no-shadow {
    &::before {
      display: none;
    }
  }
  &.related-post {
    height: 130px;
    width: 100%;
  }
}
.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.image-overlay {
  top: -15px;
  left: -15px;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  opacity: 0.35;
  &.post-image {
    top: 15px;
  }
}

.line {
  width: 60%;
  border-top: 2px solid $white;
}
/* Simple spinner styles */
#loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner {
  border: 8px solid $gray-100;
  border-top: 8px solid $red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
.filter-white {
  filter: brightness(0) invert(1);
}

.filter-black {
  filter: brightness(0);
}
.tab-buttons {
    scrollbar-color: $red transparent;
    scrollbar-width: thin;
  .tablink {
    color: $gray-600;
    transition: 0.3s;
    &.active , &:hover {
      color: $black;
      padding-bottom: 2px;
      text-decoration: underline;
      font-weight: 400;
    }
  }
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.line-title {
  position: relative;
  margin-left: 10px;
  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    background-color: white;
    top: 55%;
    left: 60%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 7px;
    background-color: white;
    left: 60%;
    bottom: 10px;
  }
}
.white-space-nowrap {
  white-space: nowrap;
}
.news-info,
.blog-info {
  &.start-lg-65 {
    left: 65% !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@include media-breakpoint-down(lg) {
  .news-info,
  .blog-info {
    &.start-lg-65 {
      left: 25% !important;
    }
  }
  .line-title {
    &::before {
      top: 50%;
    }
    &::after {
      bottom: 5px;
    }
  }
  .main_logo {
    img {
      width: 90px;
      height: 60px;
      object-fit: contain;
    }
  }
  .meet-the-team {
    .team-intro {
      .border-end {
        border-right: 0 !important;
      }
    }
  }
  .line-red {
    &::after {
      width: 50% !important;
      left: 50% !important;
    }
  }
  .button {
    padding: 6px 6px 8px !important;
  }
  .scroll-mt {
    scroll-margin-top: 100px !important;
  }
  .sticky-menu {
    top: 75px !important;
  }
}
.scroll-mt {
  scroll-margin-top: 140px;
}
.list-expertise {
  li {
    a {
      padding-bottom: 5px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $red;
        transition: width 0.3s ease;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
      &.active {
        &::before {
          width: 100%;
        }
      }
    }
  }
}
.line-red {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 70%;
    background-color: $red;
    height: 5px;
    bottom: 0;
    left: 30%;
  }
}
.button-red {
  &:hover {
    background-color: $red !important;
    color: $white !important;
    transition: background-color 0.3s ease, color 0.5s ease;
  }
}
.button-slider {
  &:hover {
    background-color: $black !important;
    color: $white !important;
    transition: background-color 0.3s ease, color 0.5s ease;
  }
}
.button {
  padding: 6px 25px 10px;
}
.effect_img {
  position: relative;
  z-index: 99;
  overflow: hidden;
  &:before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 99;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  a {
    display: block;
    img {
      transition: transform 0.5s ease;
    }
  }
  &:hover {
    &:before {
      -webkit-animation: shine 0.75s;
      animation: shine 0.75s;
    }
    img {
      transform: scale(1.25);
    }
  }
}

@include media-breakpoint-up(lg) {
}

@media only screen and (max-width: 992px) {
 
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main_menu {
    .menu {
      li {
        a {
          letter-spacing: 0 !important;
          margin-left: 0 !important;
        }
      }
    }
  }
}

.typing-cursor::after {
  content: "|";
  animation: blink 1s steps(2, start) infinite;
  color: gray;
  font-weight: bold;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes shine {
  10% {
    opacity: 1;
    left: -65%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    left: 115%;
    transition-property: left, top, opacity;
  }
}
.sticky-menu {
  position: fixed !important;
  top: 100px;
  left: 0; 
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title-top-footer {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 65px;
}

.border-button{
  border-radius: 8px !important;
}

.fancybox__container{
  z-index: 9999 !important;
}
.info-value {
  p {
    margin-bottom: 0;
  }
}